*{
    box-sizing: border-box;
    font-family: sans-serif;
}


main{
    padding:20px;
    color: #aaa;
    font-size:20px;
    line-height:20px;
    text-align:left;
    display: grid;
    grid-template-columns: repeat(3,fr);
    grid-template-areas: "header header header"
                         "art1 art2 art3"
                         "footer footer footer" ;

}

.art1{
    grid-area:art1 ;
}
.art2{
    grid-area:art2 ;
}
.art3{
    grid-area:art3 ;
}


footer{
    grid-area: footer;
}